<!--This is a sample config file. Some of the parameters need to be set manually before using them-->

<Settings Subject="SUBJECT-NAME">
  <GitHubCredentials Username="GITHUB-USER" Token="GITHUB-TOKEN-HERE"/>
  <Repositories>
    <Reports Folder="OUTPUT-FOLDER-IN-REPO">GITHUB-IO-REPOSITORY</Reports>
    <StudentProject>GROUP-1-GITHUB-USER-AND-PROJECT</StudentProject>
    <TestProject TestedProject="TEST-PROJECT">GITHUB-TEST-PROJECT-REPOSITORY</TestProject>
  </Repositories>
  <Evaluation>
    <Item Name="Master branch build" Weight="0" Minimum="0" Maximum="0" StartDate="2022-02-21"/>
    <Item Name="Develop branch build" Weight="0" Minimum="0" Maximum="0" StartDate="2022-02-21"/>
    <Item Name="Group tests passed" Weight="0" Minimum="0" Maximum="0" StartDate="2022-02-21"/>
        
    <Item Name="Group tests coverage %" Weight="15" Bonus="false" Minimum="50" Maximum="100" StartDate="2022-02-21"/>
    <Item Name="Deadline 'Parser' tests passed %" Bonus="false" Weight="10" Minimum="80" Maximum="100" StartDate="2022-02-21"/>
    <Item Name="Deadline 'Queries' tests passed %" Bonus="false" Weight="10" Minimum="80" Maximum="100" StartDate="2022-02-21"/>
    <Item Name="Valid develop branch build/test time %" Bonus="false" Weight="15" Minimum="80" Maximum="100" StartDate="2022-02-21"/>
    <Item Name="Code style/naming rules %" Bonus="false" Weight="10" Minimum="50" Maximum="100" StartDate="2022-02-21"/>

    <Item Name="Leader" Weight="10" Bonus="true" Minimum="0" Maximum="10" StartDate="2022-02-21"/>
    
    <Item Name="Valid commit messages (+10 chars / issue #) %" Weight="2.5" Bonus="false" Minimum="50" Maximum="100" StartDate="2022-03-07"/>
    <Item Name="Contribution to pass tests %" Weight="10" Bonus="false" Maximum="20" StartDate="2022-02-21"/>
    <Item Name="Contribution to test coverage %" Weight="10" Bonus="false" Maximum="20" StartDate="2022-02-21"/>
    <Item Name="Contribution to pass Deadline 'Parser' tests %" Weight="5" Bonus="false" Maximum="20" StartDate="2022-02-21"/>
    <Item Name="Contribution to pass Deadline 'Queries' tests %" Weight="5" Bonus="false" Maximum="20" StartDate="2022-02-21"/>
    <Item Name="Valid commits pushed %" Weight="5" Bonus="false" Minimum="50" Maximum="100" StartDate="2022-02-21"/>
    <Item Name="Commit regularity %" Weight="2.5" Bonus="false" Minimum="60" Maximum="100" StartDate="2022-03-07"/> <!--That's the day before the class when I informed students about this criterium-->
    
    <Item Name="Contribution to style/naming rules" Weight="2.5" Bonus="true" Maximum="20" StartDate="2022-02-21"/>
    
    <Deadline Name="DEADLINE-1-NAME" ProjectFolder="DEADLINE-1-FOLDER" StartDate="2022-02-21" EndDate="2022-03-24"/>
    <Deadline Name="DEADLINE-2-NAME" ProjectFolder="DEADLINE-2-FOLDER" StartDate="2022-03-23" EndDate="2022-05-10"/>
  </Evaluation>
  <Calendar>
	<TermStartDate>2022-01-24</TermStartDate>
	<TermEndDate>2022-05-12</TermEndDate>
	<Holidays>
		<HalfWeek>24</HalfWeek>
		<HalfWeek>25</HalfWeek>
		<HalfWeek>26</HalfWeek>
		<HalfWeek>28</HalfWeek>
	</Holidays>
  </Calendar>
  <Groups>
    <Group Project="GROUP-1-GITHUB-USER-AND-PROJECT" Name="GROUP-1-NAME">
      <Member Name="MEMBER-1">
      	<Email>EMAIL-1</Email>
     	<Email>EMAIL-2</Email>
      </Member>
      <Member Name="MEMBER-2">
      	<Email>EMAIL-1</Email>
      </Member>
      <Member Name="MEMBER-1">
      	<Email>EMAIL-1</Email>
      </Member>
    </Group>
    <!--Any other groups go here-->
  </Groups>
</Settings>